# ========================
# ===REQUIRED VARIABLES===
# ========================

# Steam folder location
STEAM_FOLDER = "C:/Program Files (x86)/Steam/"            # Windows
# STEAM_FOLDER = "~/Library/Application Support/Steam/"     # macOS
# STEAM_FOLDER = "~/.local/share/Steam/"                    # Linux

# Sunshine apps.json location
SUNSHINE_APPS_JSON_PATH = "C:/Program Files/Sunshine/config/apps.json"    # Windows
# SUNSHINE_APPS_JSON_PATH = "~/.config/sunshine/apps.json"                  # macOS/Linux

# Sunshine grids folder location
SUNSHINE_GRIDS_FOLDER = "C:/Sunshine Grids"             # Windows
# SUNSHINE_GRIDS_FOLDER = "~/.config/sunshine/grids"      # macOS/Linux


# ========================
# ===OPTIONAL VARIABLES===
# ========================

# SteamGridDB API key (get from https://www.steamgriddb.com/profile/preferences/api)
# Used for getting missing game covers from SteamGridDB
STEAMGRIDDB_API_KEY = ""

# Steam AccountID / SteamID32 (get from https://steamdb.com/en/tools/steam-id-finder)
# Used for getting custom game covers that were set in Steam
STEAM_ID = ""
